<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="author" content="Anuj Gupta">
		<title>Real-Time Geolocation</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
		<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/socket.io.js"></script>
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="wrapper">
		  <header>
		  	<h1>Real-Time Geolocation Service with Node.js</h1>
		  	<div class="description">Using HTML5 Geolocation API and Web Sockets to show connected locations.</div>
		  </header>

		  <div class="app">
		  	<div class="loading"></div>
		  	<div id="infobox" class="infobox"></div>
		  	<div id="map"><button type="submit">Get my location</button></div>
		  </div>
		</div>

		
		<script type="text/javascript">
		var socket = io('http://localhost:3000');
  		socket.on('connect', function(){
  			console.log("Connected with socket io");
  		});
			$("button").on('click', function(){
				console.log("Clicked");
				$.ajax({
					type: "POST",
					url: "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyBV4jkQuOWU25khud0fFM3vDk43QfCD-_c",
					success: function(data){
						socket.on('event', function(data){
							console.log("Socket even client");
						});
						console.log(data);
					}
				});
			})
		</script>
		
<script>
  var socket = io('http://localhost');
  socket.on('connect', function(){});
  socket.on('event', function(data){});
  socket.on('disconnect', function(){});
</script>
		
	</body>

</html>

